h1 {
    font-size: 3rem;
    font-weight: bold;
    color: #04395e;              /* Calm sky blue */
    text-align: center;
    margin-top: 40px;
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
    letter-spacing: 1px;
  }
  
  body {
      background-image: url("https://img.freepik.com/free-photo/cloud-blue-sky_1232-3108.jpg?semt=ais_items_boosted&w=740");
      background-size: cover;
      background-repeat: no-repeat;  
      background-position: center;  
      height: 100vh;                
      margin: 0;
  }
  
  #current-nav {
      padding: 15px 30px;
  }
  
  #current-nav ul {
  display: flex;
  justify-content: center;
  gap: 40px;
  margin: 0;
  padding: 0;
  }
  
  #current-nav a {
  color: #ffffff;
  text-decoration: none;
  font-size: 22px;
  font-weight: 500;
  position: relative;
  padding: 5px;
  transition: color 0.3s ease;
  }

  #get-location-btn {
    background: linear-gradient(135deg, #4facfe, #00f2fe);
    color: #232121;
    border: 1px solid #ffffff33;
    padding: 12px 30px;
    font-size: 17px;
    font-weight: 600;
    border-radius: 20px;
    cursor: pointer;
    
}

   #currentLocation-card {
    display: flex;
    justify-content: center;

}

    #weather-output {
    text-align: center;
}


  
  
  
  
  